## Universidad Nacional de Chimborazo

**Facultad:** Facultad de Ingenier√≠a  
**Carrera:** Ciencia de Datos e IA  
**Materia:** Modelamiento  
**Docente:** Estalin Mejia H.  
**Semestre:** Tercero

---

### Trabajo Aut√≥nomo 2

### An√°lisis de Regresi√≥n Lineal M√∫ltiple: Predicci√≥n de Tarifas de Taxis en Nueva York

**Autores:**  
- Alisson Atupa√±a
- Mario Camacho
- Lenin Lopez

**Fecha:** 26 de octubre de 2025

**Riobamba - Ecuador**

---

#
<div style="display:flex; align-items:flex-start; gap:14px; background:linear-gradient(90deg,#1e3a8a,#3b82f6); padding:20px; border-radius:12px; box-shadow:0 8px 20px rgba(30,58,138,0.25); color:#fff; max-width:fit-content; width:min(900px,100%); margin:16px auto; box-sizing:border-box;">
    <div style="width:40px; height:40px; display:flex; align-items:center; justify-content:center; background:rgba(255,255,255,0.1); border-radius:8px; font-size:1.8rem; line-height:1;">üìã</div>
    <div>
        <div style="font-weight:900; font-size:1.8rem; letter-spacing:0.5px;">Introducci√≥n y Contexto</div>
        <div style="opacity:0.9; font-size:0.95rem; margin-top:6px;">Exploraci√≥n inicial del conjunto de datos de tarifas de taxis en Nueva York, incluyendo carga de librer√≠as, importaci√≥n de datos y an√°lisis estructural para preparar el an√°lisis de regresi√≥n lineal m√∫ltiple.</div>
    </div>
</div>

##
<div style="display:flex; align-items:flex-start; gap:12px; background:linear-gradient(90deg,#ea580c,#f97316); padding:16px; border-radius:10px; box-shadow:0 6px 15px rgba(234,88,12,0.2); color:#fff; max-width:fit-content; width:min(850px,100%); margin:12px auto; margin-left:40px; box-sizing:border-box;">
    <div style="width:32px; height:32px; display:flex; align-items:center; justify-content:center; background:rgba(255,255,255,0.15); border-radius:6px; font-size:1.45rem; line-height:1;">üîç</div>
    <div>
        <div style="font-weight:800; font-size:1.35rem; letter-spacing:0.3px;">Instalacion y carga de librer√≠as</div>
    </div>
</div>

###
<div style="display:flex; align-items:flex-start; gap:12px; background:linear-gradient(90deg,#ca8a04,#eab308); padding:12px; border-radius:8px; box-shadow:0 4px 12px rgba(202,138,4,0.15); color:#fff; max-width:fit-content; width:min(750px,100%); margin:8px auto; margin-left:120px; box-sizing:border-box;">
    <div style="width:24px; height:24px; display:flex; align-items:center; justify-content:center; background:rgba(255,255,255,0.15); border-radius:4px; font-size:1rem; line-height:1;">‚ö†Ô∏è</div>
    <div>
        <div style="font-weight:600; font-size:1rem;">Advertencia:</div>
        <div style="opacity:0.85; font-size:0.8rem; margin-top:2px;">Las liberias solo se deben instalar la primera vez.</div>
    </div>
</div>

In [ ]:
install.packages(c("readr", "dplyr", "ggplot2", "car", "GGally", "gridExtra", "psych", "PerformanceAnalytics", "lubridate"), verbose = FALSE, quiet = TRUE)

package 'readr' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'readr'"
Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"problema al copiar C:\Users\mario\AppData\Local\R\win-library\4.5\00LOCK\readr\libs\x64\readr.dll  a C:\Users\mario\AppData\Local\R\win-library\4.5\readr\libs\x64\readr.dll: Permission denied"
Warning message:
"restored 'readr'"

package 'dplyr' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'dplyr'"
Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"problema al copiar C:\Users\mario\AppData\Local\R\win-library\4.5\00LOCK\dplyr\libs\x64\dplyr.dll  a C:\Users\mario\AppData\Local\R\win-library\4.5\dplyr\libs\x64\dplyr.dll: Permission denied"
Warning message:
"restored 'dplyr'"

package 'ggplot2' successfully unpacked and MD5 sums checked
package 'car' successfully unpacked and MD5 sums checked
package 'GGally' successfully unpacked and MD5 sums checked
package 'gridExtra' successfully unpacked and MD5 sums checked
package 'psych' successfully unpacked and MD5 sums checked
package 'PerformanceAnalytics' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'PerformanceAnalytics'"
Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"problema al copiar C:\Users\mario\AppData\Local\R\win-library\4.5\00LOCK\PerformanceAnalytics\libs\x64\PerformanceAnalytics.dll  a C:\Users\mario\AppData\Local\R\win-library\4.5\PerformanceAnalytics\libs\x64\PerformanceAnalytics.dll: Permission denied"
Warning message:
"restored 'PerformanceAnalytics'"

In [ ]:
library(readr) # para leer los datos
library(dplyr) # para manipulaci√≥n de datos
library(ggplot2) # para visualizaci√≥n de los datos
library(car) # para an√°lisis de regresi√≥n lineal
library(GGally) # para gr√°ficos correlacionales
library(gridExtra) # para organizar m√∫ltiples gr√°ficos
library(PerformanceAnalytics) # para an√°lisis de correlaci√≥n avanzada
library(lubridate) # para manipulaci√≥n de fechas y horas

Adjuntando el paquete: 'dplyr'


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union


Cargando paquete requerido: carData


Adjuntando el paquete: 'car'


The following object is masked from 'package:dplyr':

    recode



Adjuntando el paquete: 'gridExtra'


The following object is masked from 'package:dplyr':

    combine


Cargando paquete requerido: xts

Cargando paquete requerido: zoo


Adjuntando el paquete: 'zoo'


The following objects are masked from 'package:base':

    as.Date, as.Date.numeric



######################### Warning from 'xts' package ##########################
#                                                                             #
# The dplyr lag() function breaks how base R's lag() function is supposed to  #
# work, which breaks lag(my_xts). Calls to lag(my_xts) that you type or       #
# source() into this session won't work correctly.                            #
#                                                                             #
# Use stats::lag() to make sure you're not using dplyr::lag(), or you can add #
# conflictRules('dplyr', exclude = 'lag') to your .Rprofile to stop           #
# dplyr from breaking base R's lag() function.                                #
#                                                                             #
# Code in packages is not affected. It's protected by R's namespace mechanism #
# Set `options(xts.warn_dplyr_breaks_lag = FALSE)` to suppress this warning.  #
#                                                                             #
###############################################################################


Adjuntando el paquete: 'xts'


The following objects are masked from 'package:dplyr':

    first, last



Adjuntando el paquete: 'PerformanceAnalytics'


The following object is masked from 'package:graphics':

    legend

##
<div style="display:flex; align-items:flex-start; gap:12px; background:linear-gradient(90deg,#ea580c,#f97316); padding:16px; border-radius:10px; box-shadow:0 6px 15px rgba(234,88,12,0.2); color:#fff; max-width:fit-content; width:min(850px,100%); margin:12px auto; margin-left:40px; box-sizing:border-box;">
    <div style="width:32px; height:32px; display:flex; align-items:center; justify-content:center; background:rgba(255,255,255,0.15); border-radius:6px; font-size:1.45rem; line-height:1;">üîç</div>
    <div>
        <div style="font-weight:800; font-size:1.35rem; letter-spacing:0.3px;">Carga de los datos y estructura del dataset</div>
    </div>
</div>

In [3]:
datos <- readRDS("datos.rds")

In [4]:
head(datos) # muestra las primeras filas del dataset

  VendorID tpep_pickup_datetime tpep_dropoff_datetime passenger_count
1 2        2016-03-27 21:14:57  2016-03-27 21:20:27   1
2 2        2016-02-20 18:15:45  2016-02-20 18:46:13   1
3 2        2016-01-02 17:26:54  2016-01-02 17:31:58   2
4 1        2016-01-29 14:13:50  2016-01-29 14:29:41   1
5 2        2015-01-04 19:55:27  2015-01-04 20:00:53   1
6 1        2015-01-15 13:23:40  2015-01-15 13:35:18   1
  trip_distance pickup_longitude pickup_latitude RateCodeID store_and_fwd_flag
1 1.12          -73.98667        40.72813        NA         N
2 3.80          -73.98663        40.77701        NA         N
3 0.73          -73.97395        40.76041        NA         N
4 2.00          -73.98127        40.75839        NA         N
5 0.78          -74.00253        40.75269         1         N
6 1.90          -73.98387        40.78062         1         N
  dropoff_longitude dropoff_latitude payment_type fare_amount extra mta_tax
1 -73.98641         40.73848         1             6.0        0.5   0.5
2 -74.00238         40.73035         1            19.5        0.0   0.5
3 -73.96369         40.75890         1             5.5        0.0   0.5
4 -73.98635         40.77897         1            11.5        0.0   0.5
5 -73.99132         40.75177         1             5.5        0.0   0.5
6 -73.96466         40.76981         1             9.5        0.0   0.5
  tip_amount tolls_amount improvement_surcharge total_amount RatecodeID
1 1.46       0            0.3                    8.76         1
2 1.50       0            0.3                   21.80         1
3 1.00       0            0.3                    7.30         1
4 1.50       0            0.3                   13.80         1
5 1.10       0            0.3                    7.40        NA
6 2.05       0            0.3                   12.35        NA

###
<div style="display:flex; align-items:flex-start; gap:12px; background:linear-gradient(90deg,#7c3aed,#a855f7); padding:14px; border-radius:8px; box-shadow:0 4px 12px rgba(124,58,237,0.15); color:#fff; max-width:fit-content; width:min(800px,100%); margin:10px auto; margin-left:80px; box-sizing:border-box;">
    <div style="width:28px; height:28px; display:flex; align-items:center; justify-content:center; background:rgba(255,255,255,0.15); border-radius:6px; font-size:1.2rem; line-height:1;">‚öôÔ∏è</div>
    <div>
        <div style="font-weight:700; font-size:1.15rem;">Estructura del dataset</div>
    </div>
</div>

In [5]:
glimpse(datos, width = 50)

Rows: 1,000,000
Columns: 20
$ VendorID              <dbl> 2, 2, 2, 1, 2, 1, ‚Ä¶
$ tpep_pickup_datetime  <dttm> 2016-03-27 21:14:‚Ä¶
$ tpep_dropoff_datetime <dttm> 2016-03-27 21:20:‚Ä¶
$ passenger_count       <dbl> 1, 1, 2, 1, 1, 1, ‚Ä¶
$ trip_distance         <dbl> 1.12, 3.80, 0.73, ‚Ä¶
$ pickup_longitude      <dbl> -73.98667, -73.986‚Ä¶
$ pickup_latitude       <dbl> 40.72813, 40.77701‚Ä¶
$ RateCodeID            <dbl> NA, NA, NA, NA, 1,‚Ä¶
$ store_and_fwd_flag    <chr> "N", "N", "N", "N"‚Ä¶
$ dropoff_longitude     <dbl> -73.98641, -74.002‚Ä¶
$ dropoff_latitude      <dbl> 40.73848, 40.73035‚Ä¶
$ payment_type          <dbl> 1, 1, 1, 1, 1, 1, ‚Ä¶
$ fare_amount           <dbl> 6.0, 19.5, 5.5, 11‚Ä¶
$ extra                 <dbl> 0.5, 0.0, 0.0, 0.0‚Ä¶
$ mta_tax               <dbl> 0.5, 0.5, 0.5, 0.5‚Ä¶
$ tip_amount            <dbl> 1.46, 1.50, 1.00, ‚Ä¶
$ tolls_amount          <dbl> 0, 0, 0, 0, 0, 0, ‚Ä¶
$ improvement_surcharge <dbl> 0.3, 0.3, 0.3, 0.3‚Ä¶
$ total_amount          <dbl> 8.76, 21.80, 7.30,‚Ä¶
$ RatecodeID            <dbl> 1, 1, 1, 1, NA, NA‚Ä¶

###
<div style="display:flex; align-items:flex-start; gap:12px; background:linear-gradient(90deg,#7c3aed,#a855f7); padding:14px; border-radius:8px; box-shadow:0 4px 12px rgba(124,58,237,0.15); color:#fff; max-width:fit-content; width:min(800px,100%); margin:10px auto; margin-left:80px; box-sizing:border-box;">
    <div style="width:28px; height:28px; display:flex; align-items:center; justify-content:center; background:rgba(255,255,255,0.15); border-radius:6px; font-size:1.2rem; line-height:1;">‚öôÔ∏è</div>
    <div>
        <div style="font-weight:700; font-size:1.15rem;">Resumen rapido de las estadisticas descriptivas</div>
    </div>
</div>

In [6]:
summary(datos)

    VendorID    tpep_pickup_datetime          tpep_dropoff_datetime
 Min.   :1.00   Min.   :2015-01-01 00:00:00   Min.   :2015-01-01 00:00:00
 1st Qu.:1.00   1st Qu.:2015-01-30 06:39:53   1st Qu.:2015-01-30 06:51:04
 Median :2.00   Median :2016-01-31 18:54:32   Median :2016-01-31 19:10:51
 Mean   :1.53   Mean   :2015-11-01 14:02:52   Mean   :2015-11-01 14:17:54
 3rd Qu.:2.00   3rd Qu.:2016-03-02 01:08:12   3rd Qu.:2016-03-02 01:23:22
 Max.   :2.00   Max.   :2016-03-31 23:59:54   Max.   :2016-06-07 14:27:58

 passenger_count trip_distance       pickup_longitude  pickup_latitude
 Min.   :0.000   Min.   :     0.00   Min.   :-131.82   Min.   : 0.00
 1st Qu.:1.000   1st Qu.:     1.00   1st Qu.: -73.99   1st Qu.:40.74
 Median :1.000   Median :     1.69   Median : -73.98   Median :40.75
 Mean   :1.667   Mean   :     4.00   Mean   : -72.77   Mean   :40.09
 3rd Qu.:2.000   3rd Qu.:     3.09   3rd Qu.: -73.97   3rd Qu.:40.77
 Max.   :9.000   Max.   :833180.00   Max.   :   0.00   Max.   :60.91

   RateCodeID     store_and_fwd_flag dropoff_longitude dropoff_latitude
 Min.   : 1.00    Length:1000000     Min.   :-121.93   Min.   : 0.00
 1st Qu.: 1.00    Class :character   1st Qu.: -73.99   1st Qu.:40.73
 Median : 1.00    Mode  :character   Median : -73.98   Median :40.75
 Mean   : 1.04                       Mean   : -72.83   Mean   :40.12
 3rd Qu.: 1.00                       3rd Qu.: -73.96   3rd Qu.:40.77
 Max.   :99.00                       Max.   :   0.00   Max.   :43.68
 NA's   :729645
  payment_type    fare_amount          extra            mta_tax
 Min.   :1.000   Min.   :-245.00   Min.   :-4.5000   Min.   :-0.5000
 1st Qu.:1.000   1st Qu.:   6.50   1st Qu.: 0.0000   1st Qu.: 0.5000
 Median :1.000   Median :   9.00   Median : 0.0000   Median : 0.5000
 Mean   :1.352   Mean   :  12.36   Mean   : 0.3246   Mean   : 0.4977
 3rd Qu.:2.000   3rd Qu.:  14.00   3rd Qu.: 0.5000   3rd Qu.: 0.5000
 Max.   :4.000   Max.   :4008.00   Max.   : 8.0000   Max.   : 0.5000

   tip_amount       tolls_amount      improvement_surcharge  total_amount
 Min.   : -2.700   Min.   : -5.5400   Min.   :-0.3000       Min.   :-245.30
 1st Qu.:  0.000   1st Qu.:  0.0000   1st Qu.: 0.3000       1st Qu.:   8.30
 Median :  1.250   Median :  0.0000   Median : 0.3000       Median :  11.60
 Mean   :  1.708   Mean   :  0.2854   Mean   : 0.2953       Mean   :  15.47
 3rd Qu.:  2.260   3rd Qu.:  0.0000   3rd Qu.: 0.3000       3rd Qu.:  17.15
 Max.   :297.350   Max.   :755.5400   Max.   : 0.3000       Max.   :4009.30

   RatecodeID
 Min.   : 1.000
 1st Qu.: 1.000
 Median : 1.000
 Mean   : 1.039
 3rd Qu.: 1.000
 Max.   :99.000
 NA's   :270355

#
<div style="display:flex; align-items:flex-start; gap:14px; background:linear-gradient(90deg,#1e3a8a,#3b82f6); padding:20px; border-radius:12px; box-shadow:0 8px 20px rgba(30,58,138,0.25); color:#fff; max-width:fit-content; width:min(900px,100%); margin:16px auto; box-sizing:border-box;">
    <div style="width:40px; height:40px; display:flex; align-items:center; justify-content:center; background:rgba(255,255,255,0.1); border-radius:8px; font-size:1.8rem; line-height:1;">üßπ</div>
        <div>
            <div style="font-weight:900; font-size:1.8rem; letter-spacing:0.5px;">Preparaci√≥n y Limpieza de Datos</div>
            <div style="opacity:0.9; font-size:0.95rem; margin-top:6px;">Identificaci√≥n de valores faltantes, fusi√≥n de columnas duplicadas y transformaci√≥n de datos para preparar el dataset antes del an√°lisis de regresi√≥n lineal m√∫ltiple.</div>
        </div>
</div>


##
<div style="display:flex; align-items:flex-start; gap:12px; background:linear-gradient(90deg,#ea580c,#f97316); padding:16px; border-radius:10px; box-shadow:0 6px 15px rgba(234,88,12,0.2); color:#fff; max-width:fit-content; width:min(850px,100%); margin:12px auto; margin-left:40px; box-sizing:border-box;">
    <div style="width:32px; height:32px; display:flex; align-items:center; justify-content:center; background:rgba(255,255,255,0.15); border-radius:6px; font-size:1.45rem; line-height:1;">üîç</div>
    <div>
        <div style="font-weight:700; font-size:1.15rem;">Revisar los N/A de cada columna</div>
    </div>
</div>

In [7]:
data.frame(Missing_Values = colSums(is.na(datos)))

                      Missing_Values
VendorID                   0
tpep_pickup_datetime       0
tpep_dropoff_datetime      0
passenger_count            0
trip_distance              0
pickup_longitude           0
pickup_latitude            0
RateCodeID            729645
store_and_fwd_flag         0
dropoff_longitude          0
dropoff_latitude           0
payment_type               0
fare_amount                0
extra                      0
mta_tax                    0
tip_amount                 0
tolls_amount               0
improvement_surcharge      0
total_amount               0
RatecodeID            270355

###
<div style="display:flex; align-items:flex-start; gap:12px; background:linear-gradient(90deg,#7c3aed,#a855f7); padding:14px; border-radius:8px; box-shadow:0 4px 12px rgba(124,58,237,0.15); color:#fff; max-width:fit-content; width:min(800px,100%); margin:10px auto; margin-left:80px; box-sizing:border-box;">
    <div style="width:28px; height:28px; display:flex; align-items:center; justify-content:center; background:rgba(255,255,255,0.15); border-radius:6px; font-size:1.2rem; line-height:1;">‚öôÔ∏è</div>
    <div>
        <div style="font-weight:700; font-size:1.15rem;">Unificar columnas</div>
        <div style="opacity:0.9; font-size:0.85rem; margin-top:3px;">Existen dos columnas duplicadas que se pueden combinar, contienen datos en una columna que no est√°n en la otra.</div>
    </div>
</div>

In [8]:
datos <- datos %>%
    mutate(RateCodeID = coalesce(RateCodeID, RatecodeID)) %>%
    select(-RateCodeID, -RatecodeID)

####
<div style="display:flex; align-items:flex-start; gap:12px; background:linear-gradient(90deg,#059669,#10b981); padding:12px; border-radius:8px; box-shadow:0 4px 12px rgba(5,150,105,0.15); color:#fff; max-width:fit-content; width:min(750px,100%); margin:8px auto; margin-left:120px; box-sizing:border-box;">
    <div style="width:24px; height:24px; display:flex; align-items:center; justify-content:center; background:rgba(255,255,255,0.15); border-radius:4px; font-size:1rem; line-height:1;">‚úÖ</div>
    <div>
        <div style="font-weight:600; font-size:1rem;">Verificacion de que no existan valores faltantes</div>
    </div>
</div>

In [9]:
data.frame(Missing_Values = colSums(is.na(datos)))

                      Missing_Values
VendorID              0
tpep_pickup_datetime  0
tpep_dropoff_datetime 0
passenger_count       0
trip_distance         0
pickup_longitude      0
pickup_latitude       0
store_and_fwd_flag    0
dropoff_longitude     0
dropoff_latitude      0
payment_type          0
fare_amount           0
extra                 0
mta_tax               0
tip_amount            0
tolls_amount          0
improvement_surcharge 0
total_amount          0

In [10]:
head(datos)

  VendorID tpep_pickup_datetime tpep_dropoff_datetime passenger_count
1 2        2016-03-27 21:14:57  2016-03-27 21:20:27   1
2 2        2016-02-20 18:15:45  2016-02-20 18:46:13   1
3 2        2016-01-02 17:26:54  2016-01-02 17:31:58   2
4 1        2016-01-29 14:13:50  2016-01-29 14:29:41   1
5 2        2015-01-04 19:55:27  2015-01-04 20:00:53   1
6 1        2015-01-15 13:23:40  2015-01-15 13:35:18   1
  trip_distance pickup_longitude pickup_latitude store_and_fwd_flag
1 1.12          -73.98667        40.72813        N
2 3.80          -73.98663        40.77701        N
3 0.73          -73.97395        40.76041        N
4 2.00          -73.98127        40.75839        N
5 0.78          -74.00253        40.75269        N
6 1.90          -73.98387        40.78062        N
  dropoff_longitude dropoff_latitude payment_type fare_amount extra mta_tax
1 -73.98641         40.73848         1             6.0        0.5   0.5
2 -74.00238         40.73035         1            19.5        0.0   0.5
3 -73.96369         40.75890         1             5.5        0.0   0.5
4 -73.98635         40.77897         1            11.5        0.0   0.5
5 -73.99132         40.75177         1             5.5        0.0   0.5
6 -73.96466         40.76981         1             9.5        0.0   0.5
  tip_amount tolls_amount improvement_surcharge total_amount
1 1.46       0            0.3                    8.76
2 1.50       0            0.3                   21.80
3 1.00       0            0.3                    7.30
4 1.50       0            0.3                   13.80
5 1.10       0            0.3                    7.40
6 2.05       0            0.3                   12.35

##
<div style="display:flex; align-items:flex-start; gap:12px; background:linear-gradient(90deg,#ea580c,#f97316); padding:16px; border-radius:10px; box-shadow:0 6px 15px rgba(234,88,12,0.2); color:#fff; max-width:fit-content; width:min(850px,100%); margin:12px auto; margin-left:40px; box-sizing:border-box;">
    <div style="width:32px; height:32px; display:flex; align-items:center; justify-content:center; background:rgba(255,255,255,0.15); border-radius:6px; font-size:1.45rem; line-height:1;">üîç</div>
    <div>
        <div style="font-weight:800; font-size:1.35rem; letter-spacing:0.3px;">Buscar columnas utiles</div>
    </div>
</div>

###
<div style="display:flex; align-items:flex-start; gap:12px; background:linear-gradient(90deg,#7c3aed,#a855f7); padding:14px; border-radius:8px; box-shadow:0 4px 12px rgba(124,58,237,0.15); color:#fff; max-width:fit-content; width:min(800px,100%); margin:10px auto; margin-left:80px; box-sizing:border-box;">
    <div style="width:28px; height:28px; display:flex; align-items:center; justify-content:center; background:rgba(255,255,255,0.15); border-radius:6px; font-size:1.2rem; line-height:1;">‚öôÔ∏è</div>
    <div>
        <div style="font-weight:700; font-size:1.15rem;">Clasificar por tipo</div>
    </div>
</div>

In [11]:
# variables solo numericas
datos %>% select(where(is.numeric)) %>% names()

 [1] "VendorID"              "passenger_count"       "trip_distance"
 [4] "pickup_longitude"      "pickup_latitude"       "dropoff_longitude"
 [7] "dropoff_latitude"      "payment_type"          "fare_amount"
[10] "extra"                 "mta_tax"               "tip_amount"
[13] "tolls_amount"          "improvement_surcharge" "total_amount"

In [12]:
# variables solo categoricas
datos %>% select(where(is.character)) %>% names()

[1] "store_and_fwd_flag"

In [13]:
# variables solo temporales
datos %>% select(where(lubridate::is.POSIXct)) %>% names()

[1] "tpep_pickup_datetime"  "tpep_dropoff_datetime"

###
<div style="display:inline-flex; align-items:flex-start; gap:12px; background:linear-gradient(90deg,#7c3aed,#a855f7); padding:14px; border-radius:8px; box-shadow:0 4px 12px rgba(124,58,237,0.15); color:#fff; max-width:fit-content; width:min(800px,100%); margin:10px auto; margin-left:80px; box-sizing:border-box;">
    <div style="width:28px; height:28px; display:flex; align-items:center; justify-content:center; background:rgba(255,255,255,0.15); border-radius:6px; font-size:1.2rem; line-height:1;">‚öôÔ∏è</div>
    <div>
        <div style="font-weight:700; font-size:1.15rem;">Calcular la correlacion para entender con que columnas nos quedamos</div>
    </div>
</div>

####
<div style="display:inline-flex; align-items:flex-start; gap:12px; background:linear-gradient(90deg,#059669,#10b981); padding:12px; border-radius:8px; box-shadow:0 4px 12px rgba(5,150,105,0.15); color:#fff; max-width:fit-content; margin:8px auto; margin-left:120px; box-sizing:border-box;">
    <div style="width:24px; height:24px; display:flex; align-items:center; justify-content:center; background:rgba(255,255,255,0.15); border-radius:4px; font-size:1rem; line-height:1;">‚úÖ</div>
    <div>
        <div style="font-weight:600; font-size:1rem;">seleccionar columnas numericas</div>
    </div>
</div>

In [14]:
datos_numericos <- datos %>% select(where(is.numeric))

####
<div style="display:flex; align-items:flex-start; gap:12px; background:linear-gradient(90deg,#059669,#10b981); padding:12px; border-radius:8px; box-shadow:0 4px 12px rgba(5,150,105,0.15); color:#fff; max-width:fit-content; width:min(750px,100%); margin:8px auto; margin-left:120px; box-sizing:border-box;">
    <div style="width:24px; height:24px; display:flex; align-items:center; justify-content:center; background:rgba(255,255,255,0.15); border-radius:4px; font-size:1rem; line-height:1;">‚úÖ</div>
    <div>
        <div style="font-weight:600; font-size:1rem;">Calcular correlaci√≥n</div>
    </div>
</div>

In [15]:
correlaciones <- cor(datos_numericos, method = "pearson")
# filtrar para mostrar solo las relacionadas con total_amount
corr_total <- correlaciones["total_amount", ]

####
<div style="display:flex; align-items:flex-start; gap:12px; background:linear-gradient(90deg,#059669,#10b981); padding:12px; border-radius:8px; box-shadow:0 4px 12px rgba(5,150,105,0.15); color:#fff; max-width:fit-content; width:min(750px,100%); margin:8px auto; margin-left:120px; box-sizing:border-box;">
    <div style="width:24px; height:24px; display:flex; align-items:center; justify-content:center; background:rgba(255,255,255,0.15); border-radius:4px; font-size:1rem; line-height:1;">‚úÖ</div>
    <div>
        <div style="font-weight:600; font-size:1rem;">Mostrar correlaciones</div>
    </div>
</div>

In [16]:
corr_df <- data.frame(
    Variable = names(corr_total),
    Correlacion = as.numeric(corr_total)
) %>%
    filter(Variable != "total_amount") %>%
    arrange(desc(Correlacion))
corr_df

   Variable              Correlacion
1  fare_amount            0.976436703
2  tip_amount             0.650791067
3  tolls_amount           0.492992473
4  extra                  0.049042163
5  improvement_surcharge  0.013093721
6  VendorID               0.011503210
7  pickup_longitude       0.010134694
8  passenger_count        0.007967019
9  dropoff_longitude      0.006631592
10 trip_distance          0.002789734
11 dropoff_latitude      -0.006613016
12 pickup_latitude       -0.009699654
13 payment_type          -0.144000675
14 mta_tax               -0.196739510

###
<div style="display:flex; align-items:flex-start; gap:12px; background:linear-gradient(90deg,#7c3aed,#a855f7); padding:14px; border-radius:8px; box-shadow:0 4px 12px rgba(124,58,237,0.15); color:#fff; max-width:fit-content; width:min(800px,100%); margin:10px auto; margin-left:80px; box-sizing:border-box;">
    <div style="width:28px; height:28px; display:flex; align-items:center; justify-content:center; background:rgba(255,255,255,0.15); border-radius:6px; font-size:1.2rem; line-height:1;">‚öôÔ∏è</div>
    <div>
        <div style="font-weight:700; font-size:1.15rem;">Convertir variables categ√≥ricas a num√©ricas</div>
        <div style="opacity:0.9; font-size:0.85rem; margin-top:3px;">Las variables de texto (character) no pueden usarse directamente en el modelo de regresi√≥n. Se convierten a n√∫meros: Y=1, N=0.</div>
    </div>
</div>

In [ ]:
# Convertir store_and_fwd_flag de texto (Y/N) a num√©rico (1/0)
datos <- datos %>%
  mutate(store_and_fwd = ifelse(store_and_fwd_flag == "Y", 1, 0)) %>%
  select(-store_and_fwd_flag)  # Eliminar la original

###
<div style="display:flex; align-items:flex-start; gap:12px; background:linear-gradient(90deg,#7c3aed,#a855f7); padding:14px; border-radius:8px; box-shadow:0 4px 12px rgba(124,58,237,0.15); color:#fff; max-width:fit-content; width:min(800px,100%); margin:10px auto; margin-left:80px; box-sizing:border-box;">
    <div style="width:28px; height:28px; display:flex; align-items:center; justify-content:center; background:rgba(255,255,255,0.15); border-radius:6px; font-size:1.2rem; line-height:1;">‚öôÔ∏è</div>
    <div>
        <div style="font-weight:700; font-size:1.15rem;">Crear variables num√©ricas desde fechas (Feature Engineering)</div>
        <div style="opacity:0.9; font-size:0.85rem; margin-top:3px;">Las fechas no se usan directamente. Se extraen caracter√≠sticas √∫tiles: hora del d√≠a, d√≠a de la semana, si es fin de semana, si es hora pico.</div>
    </div>
</div>

In [ ]:
# Extraer caracter√≠sticas num√©ricas desde tpep_pickup_datetime
datos <- datos %>%
  mutate(
    pickup_hour = hour(tpep_pickup_datetime),
    day_of_week = wday(tpep_pickup_datetime, week_start = 1),
    is_weekend = ifelse(day_of_week %in% c(6, 7), 1, 0),
    is_peak_hour = ifelse((pickup_hour >= 7 & pickup_hour <= 10) | 
                          (pickup_hour >= 17 & pickup_hour <= 20), 1, 0)
  ) %>%
  select(-tpep_pickup_datetime, -tpep_dropoff_datetime)